/* 
-- Font-size:
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 
-- Spacing system:
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128  
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-image: url(images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: hsl(229, 57%, 11%);
}

.fylo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2.4rem;
}
.fylo-feature-container {
  background-color: hsl(228, 56%, 26%);
  color: #fff;
  width: 32rem;
  height: 16rem;
  padding: 2.4rem;
  border-radius: 8px;
  border-top-right-radius: 8rem;
}

.fylo-upper {
  margin-bottom: 2.4rem;
}

.fylo-upper img {
  height: 3rem;
}

.fylo-features {
  display: inline-flex;
  gap: 1.2rem;
}

.fylo-features img {
  padding: 8px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 8px;
  display: block;
  width: 4.2rem;
  height: 4rem;
}

.fylo-storage {
  width: 64rem;
  padding: 2.4rem;
  margin-top: 2.6rem;
  background-color: hsl(228, 56%, 26%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  position: relative;
}

.fylo-storage p {
  font-size: 1.6rem;
  color: hsl(229, 7%, 55%);
}

.space-left-tooltip {
  width: 180px;
  height: 70px;
  background-color: #fff;
  border-radius: 1.2rem;
  border-bottom-right-radius: unset;
  position: absolute;
  top: -17px;
  right: 36px;
  transform: translateY(-50%);

  display: grid;
  place-content: center;
}

.space-left-tooltip .space-left-tooltip__content {
  font-size: 3.2rem;
  font-weight: 700;
  color: hsl(229, 57%, 11%);

  display: flex;
  align-items: center;
  gap: 1rem;
}
.space-left-tooltip span {
  font-size: 1.2rem;
  color: hsl(229, 7%, 55%);
}

.space-left-tooltip::after {
  content: "";
  position: absolute;
  top: 69.5px;
  right: 0;
  transform: rotate(180deg);
  border-width: 0 20px 20px 20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  z-index: 99999;
}

.storage {
  color: hsl(243, 100%, 93%);
}

progress {
  width: 80%;
  border-radius: 3.2rem;
  height: 1.8rem;
  position: relative;
}
progress::-webkit-progress-value {
  /* height: 1.2rem; */
  border-radius: 3.2rem;
  background: linear-gradient(to left, #ffa399, #ff4d97);
}

progress::-webkit-progress-bar {
  border-radius: 3.2rem;
  background-color: hsl(229, 57%, 11%);
}

progress::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsl(243, 100%, 93%);
  position: absolute;
  top: 4px;
  right: 21%;
  z-index: 999;
}

.storage-limit {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: hsl(243, 100%, 93%);
}

.storage-left {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 80px;
  background-color: rebeccapurple;
  border-radius: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 750px) {
  .fylo {
    flex-direction: column;
  }

  .fylo-storage {
    width: auto;
    height: 16rem;
    margin-top: 0;
  }

  .space-left-tooltip {
    border-bottom-right-radius: 1.2rem;
    width: 180px;
    height: 70px;
    top: 100%;
    right: 20%;
  }

  .space-left-tooltip::after {
    display: none;
  }
}
